body {
    margin: 0%;
    background-image: linear-gradient(rgb(187, 218, 210), white);
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
    color: #777777;
   
}

#header {
    margin: 0%;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    border-bottom-width: 2px;
    height: 75px;  
}
h1 {
    color: #4aaaa5;
    font-size: 40px;
    
}

#namecontainer {
    width: 1000px;
    margin: auto;
}

#nameBox {
    height: 45px;
    float: left;
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 30px;
    padding: 10px 20px 0px 20px;
    border-style: ridge;
    border-color: #4aaaa5;
    border-width: 10px;
    font-family: cursive;
}

#linkBox{
    height: 45px;
    float: right;
    padding-top: 25px;
    font-size: large;
    background-color: #ffffff;
}

a {
    text-decoration: none;   
}

a:link {
    color: #777777;
}

a:visited {
    color: #777777;
}

a:hover {
    color: #4aaaa5;
    border-style: solid;
    border-color: #4aaaa5;
    border-width: 1px;
    border-radius: 5px;
    transition: 0.3s;
    padding: 10px;
}

#container {
    height: 520px;
    width: 960px;
    margin: auto;
    margin-top: 10px;
    background-color: #ffffff;
    padding: 20px;
}

#content {
    border-top-style: solid;
    border-top-color: #cccccc;
    border-top-width: 2px;
    padding: 10px;
}

#box {
    height: 200px;
    width: 200px;
    float: left;
    margin: 20px 50px;
    background-color: #777777;
    position: relative;
    transition: 0.3s;
}

.imgBox {
    height: 35px;
    width: 200px;
    color: #ffffff;
    background-color: #4aaaa5;
    margin: 120px 0px 0px 0px;
    position: absolute;
    text-align: center;
    padding: 10px 0px 0px 0px;
    opacity: 0.6;
}

.text {
    float: right;
}

#footer {
    position: fixed;
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: #ffffff;
    text-align: center;     
    font-size: small;
    border-top-style: solid;
    border-top-color: #4aaaa5;
    border-top-width: 5px;
    
}